[Unit]
Description=PHY BLER Parser

[Service]
Type=simple
ExecStart=/etc/inventec_svt_deployment/phy_bler_parser

[Install]
WantedBy=multi-user.target
